@using front_to_back.Models
@model List<PricingComponent>

@{
            foreach (var pricingComponent in Model)
            {
                <!-- Start Pricing Horizontal -->
                <div class="pricing-horizontal row col-10 m-auto d-flex shadow-sm rounded overflow-hidden my-5 bg-white">
                    <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                        <i class="display-1 bx bx-package pt-4"></i>
                        <h5 class="h5 semi-bold-600 pb-4 light-300">@pricingComponent.Title</h5>
                    </div>
                    <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                       @Html.Raw(pricingComponent.Description)
                    </div>
                    <div class="pricing-horizontal-tag col-md-4 text-center pt-3 d-flex align-items-center">
                        <div class="w-100 light-300">
                            <p>$@pricingComponent.Cost/Year</p>
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary mb-3">Get Now</a>
                        </div>
                    </div>
                </div>
                <!-- End Pricing Horizontal -->
            }
        }