@using front_to_back.Models
@model PricingComponent
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            Details Category
                        </p>

                        <span>TITLE:</span>
                        <span>@Model.Title</span>

                        <br />
                        <br />

                        <span>Description:</span>
                        <span>@Model.Description</span>

                        <br />
                        <br />

                        <span>Cost:</span>
                        <span>@Model.Cost</span>

                        <br />
                        <br />



                        <button>
                            <a class="btn btn-light" asp-action="index" asp-controller="pricing" asp-area="admin">Cancel</a>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>