@using front_to_back.Models
@model Category
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
             <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
                  <p class="card-description">
                    Update category
                  </p>
                  <form method="post" asp-action="update" asp-controller="category" asp-area="admin" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="Title">Title</label>
                      <input  class="form-control" asp-for="Title">
                      <span asp-validation-for="Title"></span>
                    </div>
                   
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>