@using front_to_back.Models
@model ContactBannerHero
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
             <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
                  <p class="card-description">
                    Create Contact Banner 
                  </p>
                  <form enctype="multipart/form-data" method="post" asp-action="create" asp-controller="contact" asp-area="admin" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="Title">Title</label>
                      <input  class="form-control" asp-for="Title">
                      <span asp-validation-for="Title"></span>
                    </div>
                     <div class="form-group">
                      <label asp-for="Title2">Title2</label>
                      <input  class="form-control" asp-for="Title2">
                      <span asp-validation-for="Title2"></span>
                    </div
                    <div class="form-group">
                      <label asp-for="Information">Information</label>
                      <input  class="form-control" asp-for="Information">
                      <span asp-validation-for="Information"></span>
                    </div>
                     <div class="form-group">
                      <label asp-for="Photo">Photo</label>
                      <input  class="form-control" asp-for="Photo">
                      <span asp-validation-for="Photo"></span>
                    </div>

                   
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                     <a class="btn btn-danger" asp-action="index" asp-controller="contact" asp-area="admin"> Cancel</a>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
